<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    
</head>
<body style="background-color:powderblue; text-align : center; font-family : Arial">
    <img src="https://image.ibb.co/h1hWSz/WIN_20180212_12_36_50_Pro.jpg" width="20%" />
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>My hobby is {{hobby}}</article>
    <p>Today i am tried to study about ppw</p>
</body>
</html>
